* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    font-size: 14px !important;
}

html,
body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    color: hsl(228, 12%, 48%);
}

body {
    background-color: hsl(30, 38%, 92%);
}

body>main {
    height: 100%;
    width: 100%;
    padding: 28px 16px;
}

.item-container {
    width: 600px;
    height: 450px;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    -ms-grid-columns: auto auto;
    grid-template-rows: none;
    -ms-grid-rows: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

.item-img {
    height: 100%;
    border-radius: 10px 0 0 10px;
    width: auto;
    overflow: hidden;
}

.item-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.085;
}

.item-info {
    padding: 32px;
    width: auto;
    background-color: #FFFFFF;
    z-index: 2;
}

.item-category {
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-size: 0.85rem;
}

h1 {
    margin-top: 20px;
    font-size: 2.29rem;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 21%, 14%);
}

p {
    margin-top: 24px;
    line-height: 23px;
}

button {
    display: inline-flex;
    display: -ms-inline-flexbox;
    flex: 1;
    -ms-flex: 1;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    gap: 11px;
    -ms-gap: 11px;
    border-radius: 8px;
    border: 0;
    background-color: hsl(158, 36%, 37%);
    color: #FFFFFF;
    padding: 15px 0;
    width: 100%;
    font-weight: 700;
    margin-top: 30px;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: #1A4032;
}

button:focus {
    outline: 0;
}

.price {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    gap: 19px;
    margin-top: 29px;
}

.discount-price {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    font-size: 2.29rem;
    line-height: 32px;
}

.strike-price {
    color: hsl(228, 12%, 48%);
    font-size: 0.93rem;
    line-height: 23px;
}

@media screen and (max-width: 630px) {

    .item-container {
        width: calc(100% - 32px);
        /* max-width: 343px; */
        grid-template-columns: none;
        -ms-grid-columns: none;
        grid-template-rows: auto auto;
        -ms-grid-rows: auto auto;
        height: 611px;
    }

    .item-img {
        border-radius: 10px 10px 0 0;
        height: 100%;
        width: 100%;
    }

    .item-info {
        padding: 24px;
        width: auto;
        height: auto;
    }

    .item-info main {
        padding: 0;
    }

    h1 {
        margin-top: 12px;
    }

    p {
        margin-top: 16px;
    }

    .price {
        margin-top: 24px;
    }

    button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {

    :root {
        font-size: 12px !important;
    }

    .price {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    .item-container {
        height: auto;
    }
}

@media screen and (max-width: 300px) {
    :root {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 250px) {
    .item-info {
        overflow-y: auto;
    }
}